- group_member = local_assigns[:group_member]
- css_class = '' unless local_assigns[:css_class]
- css_class += " no-description" if group.description.blank?

%li.group-row{ class: css_class }
  - if group_member
    .controls.hidden-xs
      - if can?(current_user, :admin_group, group)
        = link_to edit_group_path(group), class: "btn-sm btn btn-grouped" do
          %i.fa.fa-cogs

      = link_to leave_group_group_members_path(group), data: { confirm: leave_group_message(group.name) }, method: :delete, class: "btn-sm btn btn-grouped", title: 'Leave this group' do
        %i.fa.fa-sign-out

  .stats
    %span
      = icon('home')
      = number_with_delimiter(group.projects.count)

    %span
      = icon('users')
      = number_with_delimiter(group.users.count)

  = image_tag group_icon(group), class: "avatar s46 hidden-xs"
  = link_to group, class: 'group-name' do
    %span.item-title= group.name

  - if group_member
    as
    %span #{group_member.human_access}

  - if group.description.present?
    .light
      = markdown(group.description, pipeline: :description)
